[bordered] {
    box-sizing: border-box;
}

.column-outer {
}
.column {
    min-height: 400px;
}
.column p {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    font-family: "Old Standard TT";
    font-size: 12pt;
}

.divisions {
    height: 30px;
}

/* ========= http://codepen.io/anandthakker/pen/marlo ======== */

.slider-control {
  height: 1em;
  padding-top: .5em;
}

.slider {
  height: 2px;
  border: 1px solid black;
}

.slider-handle {
  height: 2em;
  width: 2em;
  border: 1px solid black;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;  
}
.slider-handle:hover {
  background: #ddd;
}